/* ========================================================== */
/* ===                     Dang Yen                       === */
/* ===              March Fashion Dashboard               === */
/* ========================================================== */


/* ------------------------------- */
/* [General CSS] */
/* ------------------------------ */
.form-group .form-control {
    border-radius: .5rem !important;
}

input:focus,
input.focus,
input.active.focus,
input.active:focus,
input:active.focus,
input:active:focus{
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  border-color: #000 !important;
  box-shadow: none !important;
}

.cl-black{
    color: #000 !important;
}

.cl-gray{
    color: #777;
}

.bg-black{
    background-color: #000 !important;
}

.bg-orage{
    background-color: orange !important;
}

.txt-right{
    text-align: right;
}

.txt-center{
    text-align: center;
}

.font-normal{
    font-weight: normal !important;
}

.font-size-20{
    font-size: 20px;
}

.d-flex-right{
    display: flex;
    display: -ms-flexbox !important;
    justify-content: flex-end;
    align-items: center;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}



@media (min-width: 768px) {
  .w-md-50{
      width: 50%;
  }
}

.mx-auto{
    margin: 0 auto !important;
}

.mr-0{
    margin-right: 0;
}

.ml-1{
    margin-left: .75rem;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mt-0{
    margin-top: 0 !important;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.pl-0{
    padding-left: 0;
}

.px-0{
    padding-left: 0;
    padding-right: 0;
}
@media(min-width: 768px){
    .pr-md-5{
        padding-right: 5rem;
    }
}

.w-100 {
    width: 100% !important;
}

.cl-blue{
    color: #39b2d5;
}

a.cl-blue:hover{
    color: #39b2d5;
    text-decoration: underline;
}

.cl-red{
    color: red;
}
/* ------------------------------- */


/* -------------------------------- */
/* [Overide CSS] */
/* ---------------------------- */
body {
    color: #333;
    background: #000;
}

.title_left{
    margin-bottom: 1rem;
}

.bg-trans{
    background: transparent !important;
}

a#menu_toggle{
    color: #666666 !important;
}

.table>tbody>tr>td{
    vertical-align: middle;
}

.btn-action{
    margin-bottom: 0;
    width: 24px;
    height: auto;
}

.btn-success {
    color: #fff;
    background: #4dbd74;
    border: 1px solid #4dbd74;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus
{
    background-color: #3ea662;
    border-color: #3a9d5d;
}

.btn-info {
    color: #fff;
    background-color: #63c2de;
    border-color: #63c2de;
}

.btn-info:hover,
.btn-info:active,
.btn-login:focus {
    background-color: #43b6d7;
    border-color: #39b2d5;
}

.btn-danger {
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background-color: #f64846;
    border-color: #f63c3a;
}

.btn-dark{
    color: #fff;
    background-color: #444;
    border-color: #333;
}

.btn-dark:hover{
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.site_title{
    padding-left: 12px !important;
}

.site_title i {
    border: 2px solid #f7f7f7;
    padding: 4px 4px !important;
    border-radius: 1rem;
    background-color: #f7f7f7 !important;
}

.nav-sm .navbar.nav_title a i {
    font-size: inherit !important;
    margin: 13px 0 0 3px;
}

.nav-sm ul.nav.child_menu{
    background-color: #333;
}

.nav.side-menu > li.active > a {
    background: #333;
}
.nav.side-menu > li.active, 
.nav.side-menu > li.current-page {
    border-right: 5px solid orange;
}

.nav-sm .nav.child_menu li.active, 
.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid orange;
}
/* -------------------------------- */



/* ------------------------------ */
/* [Login Page] */
/* ----------------------------- */
.login{
    background-image: url('../images/login-bg.png');
}

.login::after{
    content: "";
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.login_wrapper{
    display: inline-block;
    position: fixed;
    z-index: 21;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 306px;
    margin: auto;
}

.login_content{
    background-color: rgba(255, 255, 255, 1);
    border-radius: .5rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    margin-bottom: 1.5rem;
}

.login_content input{
    box-shadow: none !important;
    border-radius: .5rem !important;
    padding: 1.8rem 1rem;
}

.btn-login{
    background-color: #000;
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-style: none;
    text-shadow: none;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active{
    color: #ffffff;
    background-color: #000;
    font-weight: bold;
    text-decoration: none !important;
}


/* ------------------------------ */


/* -------------------------- */
/* [Table CSS] */
/* --------------------- */
.admin-status-active span{
    color: #fff;
    font-size: 12px;
    background-color: #4dbd74;
    border-radius:.5rem;
    padding: .3rem .5rem;
}

.admin-status-disabled span{
    color: #fff;
    font-size: 12px;
    background-color: #999;
    border-radius:.5rem;
    padding: .3rem .5rem;
}

.order-status-confirm span{
    color: #fff;
    font-size: 12px;
    background-color: #ffc107;
    border-radius:.5rem;
    padding: .3rem .5rem;
}

.order-status-packing span{
    color: #fff;
    font-size: 12px;
    background-color: #a269fd;
    border-radius:.5rem;
    padding: .3rem .5rem;
}

.order-status-shipping span{
    color: #fff;
    font-size: 12px;
    background-color: #39b2d5;
    border-radius:.5rem;
    padding: .3rem .5rem;
}

.order-status-completed span{
    color: #fff;
    font-size: 12px;
    background-color: #3ea662;
    border-radius:.5rem;
    padding: .3rem .5rem;
}

.order-status-cancel span{
    color: #fff;
    font-size: 12px;
    background-color: #999;
    border-radius:.5rem;
    padding: .3rem .5rem;
}
/* ----------------------- */


/* ------------------------------- */
/* Form CSS */
/* ---------------------- */
.form-group span.input-suggestion{
    font-style:italic; 
    color: #999; 
    font-size: 1.15rem;
}

.prod-detail-form tr > td .form-control{
    border: none;
    box-shadow: none;
    background-color: #f7f7f7;
}

.prod-detail-form tr:hover > td .form-control{
    background-color: #fff;
}

#addTableRow{
    margin-top: .5rem;
}

#removeTableRow{
    margin-right: 0 !important;
    margin-top: .5rem;
}

#phoneInputGroup input,
#shopInputGroup input{
    margin-bottom: .5rem;
}

.form-group img.prod-thumbnail{
    width: 35%;
    margin-bottom: 1rem;
    padding: .5rem;
    border: 1px solid#ccc;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
}

.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: .5rem;
	margin-bottom: 0;
    outline: 0;
    background: #fff;
    padding: .5rem;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
    border-color: #ccc;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
.image-checkbox .fa {
  position: absolute;
  color: orange;
  border-radius: .5rem;
  background-color: #fff;
  padding: .5rem;
  top: 1px;
  right: 11px;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.check-box-control{
    height: 18px !important; 
    width: 18px !important; 
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.btn-group a{
    position: relative;
}

.btn-group .upload-img{
    position: absolute;
    width: 100%;
    opacity: 0;
}

.form-section-title{
    margin: 0 10px 10px 10px;
    padding-top: 15px;
    font-weight: 400 !important;
    font-size: 19px !important;
    border-top: 1px solid #ccc; 
}
/* --------------------- */



/* ---------------------- */
/* Muti select2 */
/* ----------------- */
.select2-container--default .select2-selection--multiple, 
.select2-container--default .select2-selection--single {
    border-radius: .5rem !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    padding-left: .5rem;
}

.select2-container--default .select2-search--inline .select2-search__field::placeholder{
    color: #888;
    font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: orange;
    margin-right: .5rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #333;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice, 
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    border-radius: .5rem;
}
/* --------------------------- */



/* ------------------ */
/* Gallery */
/* ------------------ */
.gallery-img-title::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.gallery-img-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.gallery-img-col{
    padding-right: 1rem;
}

.gallery-img-col img {
    width: 100%;
    border: 1px solid #ccc;
    opacity: 0.8; 
    cursor: pointer; 
}

.gallery-img-col img:hover {
    opacity: 1;
}

.gallery-img-col div a:hover {
    text-decoration: underline;
    color: #39b2d5;
}

.gallery-img-view {
    display: none;
    position: fixed;
    z-index: 100000;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0 , 0, 0, 0.75);
}

.gallery-img-view img{
    margin: auto;
    display: block;
    width: 10%;
    max-width: 61vh;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

.gallery-img-view .btn-close {
    position: absolute;
    z-index: 100001;
    top: 5px;
    right: 15px;
    color: red;
    font-weight: 600;
    font-size: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    cursor: pointer;
}

/* ----------------- */



/* -------------------- */
/* Order progress */
/* --------------------- */
.step_no{
    background: #ccc;
}

a.current-order-status::before{
    background: #000 !important;
}
a.current-order-status .step_no{
    background-color: #000 !important;
}

ul.wizard_steps{
    padding-left: 0 !important;
}

.order-receiver-info{
    margin-bottom: .5rem;
}

.order-cancel{
    position: absolute;
    color: red;
    z-index: 100;
    top: 11px;
    right: -26px;
}

.order-cancel .fa-close{
    font-size: 20px;
}
/* ---------------------- */


/* --------------- */
/* Other */
/* ---------------- */
.prod_title{
    margin: 10px 0 !important;
    font-size: 22px;
    font-weight: 500;
}

.product-image img {
    width: 95%;
}

.alert-danger, 
.alert-error,
.alert-success{
    color: #fff;
}

.cancel-alert, .confirm-alert{
    margin-left: .5rem;
    color: #fff;
    text-decoration: underline;
}

.confirm-alert{
    opacity: .85;
}

.cancel-alert:hover,
.cancel-alert:focus,
.cancel-alert:active,
.confirm-alert:hover,
.confirm-alert:focus,
.confirm-alert:active{
    color: #fff;
    text-decoration: underline;
}

.close{
    opacity: .75;
}

.alert-dismissable .close, .alert-dismissible .close{
    color: #fff;
}

.top_nav li a i {
    vertical-align: text-bottom;
    margin-right: .3rem;
}

.fa-angle-down:before {
    margin-left: .3rem;
}

.main_menu .fa {
    vertical-align: middle;
}

.theme-setting-input img.theme-setting-img{
    padding: .5rem;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    border-radius: .5rem;
    margin: .5rem 0;
    border: 1px solid #ccc;
}
/* ------------------- */